@use './partials/variables' as *;
@import 'bootstrap/scss/bootstrap';

:root {
    --color-primary: #0282f9;
    --color-light: #ffffff;
    --color-dark: #1c1c1c;
    --color-bg-footer: #303030;
    --color-icons: #797979;

    // --font-title: 'Open Sans Condensed', sans-serif;
    // --font-body: 'Open Sans', sans-serif;
}
body {
    font-family: $base-font;
}
a{
    text-decoration: none;
}
li {
    list-style-type: none;
}
ul{
    padding: 0;
}
img {
    width: 100%;
    display: block;
}

